*,
*::before,
*::after {
    box-sizing: border-box;
}

.calendar {
    max-width: min-content;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar-header button {
    border: none;
    font-size: 18px;
    font-weight: 00;
    padding: 5px 8px;
    background-color: unset;
    cursor: pointer;
}

.calendar-header .month-year button:hover {
    background-color:rgb(226, 226, 226);
}

.month-year select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.month-year select {
    border: 1px solid rgb(170, 170, 170);
    width: min-content;
    padding: 5px;
    font-size: large;
    font-weight: 500;
}

.month-year select:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.month-year select:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}
.calendar-btn-list * {
    margin: 0 5px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, auto);
    max-width: min-content;
}

.calendar-body > * {
    padding: 5px;
    margin: 6px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 50px;
}

.calendar-body a:hover {
    background-color: rgb(207, 207, 207);
}

.calendar-body .unfocus-date, .calendar-body .day-name {
    color: rgb(114, 114, 114);
}

.current-day {
    background-color: black;
    color: white;
}

.current-day:hover {
    background-color: black;
}

